<ion-content>
  <div id="cameraPreview" class="cameraPreview">
    <div *ngIf="cameraActive">
      <ion-button [style]="cssProbertyCloseButton" (click)="stopCamera()" id="close">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <img id="image" [style]="cssProberty" [src]="image" *ngIf="image && cameraActive" class="image-overlay" #imageView>
  <canvas id="canvas" [style]="cssProberty" #canvas class="canvas-overlay" *ngIf="image && cameraActive"></canvas>

  <video autoplay muted loop id="myVideo" *ngIf="cameraActive" webkit-playsinline playsinline>
    <source src="{{videoSource}}" type="video/mp4">
  </video>

  <div class="blackBackground" *ngIf="cameraActive"></div>
  <h2 class="dialog">Bitte nehme die Position deines Trainers ein</h2>
</ion-content>
