ion-content {
    --background: url("../../assets/backgrounds/BackgroundMan.jpg") no-repeat center center / cover;
}

.image-overlay {
    z-index: 13;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.canvas-overlay {
    z-index: 14;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}