<ion-content [fullscreen]="true">
  <div class="container" *ngIf="!cameraActive">
    <div class="headline">
      <h1 class="helloUserTitle">Guten Tag,<br />Max</h1>
      <ion-icon class="searchIcon" name="search"></ion-icon>
    </div>
    <p class="videoHeadlinesFirst">Deine Trainings:</p>
    <div class="video-container" (click)="openCamera()">
      <div class="video-item-container">
        <div class="videoPicture">
          <ion-icon class="playButton" name="play"></ion-icon>
        </div>
        <p class="description">Sit-Ups 5:20min</p>
      </div>
      <div class="video-item-container">
        <div class="videoPicture2">
          <ion-icon class="playButton" name="play"></ion-icon>
        </div>
        <p class="description">Bauch Beine Po 10:35min</p>
      </div>
    </div>
    <p class="videoHeadlines">Cardio:</p>
    <div class="video-container">
      <div class="video-item-container">
        <div class="videoPicture3">
          <ion-icon class="playButton" name="play"></ion-icon>
        </div>
        <p class="description">Intervall Training 7:18min</p>
      </div>
    </div>
  </div>

  <img id="image" style="width:100%"[src]="image" *ngIf="image && cameraActive" class="image-overlay" #imageView>
  <canvas id="canvas" #canvas class="canvas-overlay" *ngIf="image && cameraActive"></canvas>
  <div id="cameraPreview" class="cameraPreview">
    <div *ngIf="cameraActive">
      <ion-button (click)="stopCamera()" id="close">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
